.navbar {
  background-color: #15171c !important;
}

.nav-link {
  color: white !important;
}

#logo {
  color: white;
  float: left;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

