<h1 class= "text-center mt-4">Edit Category name</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'form' %>
  </div>
  <div class="mb-4">
      <%= link_to '[ Cancel and return to category listing ]', category_path(@category) %>
    </div>
  </div>
</div>

