</div>
  <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; <%= link_to "Valentin Tournant", "https://valentin-tournant-website.herokuapp.com/", class: "text-white" %></small>
    </div>
  </footer>
</div>
